dist-newstyle/
.stack-work/dist/x86_64-linux/ghc-9.6.6/build/Lib.dyn_hi
.stack-work/dist/x86_64-linux/ghc-9.6.6/build/Lib.hi
.stack-work/dist/x86_64-linux/ghc-9.6.6/build/libHSollama-haskell-0.1.0.0-JcuztelOYn0HynqJZZx1zH-ghc9.6.6.so
.stack-work/dist/x86_64-linux/ghc-9.6.6/build/libHSollama-haskell-0.1.0.0-JcuztelOYn0HynqJZZx1zH.a
.stack-work/dist/x86_64-linux/ghc-9.6.6/build/Ollama.dyn_hi
.stack-work/dist/x86_64-linux/ghc-9.6.6/build/Ollama.hi
.stack-work/dist/x86_64-linux/ghc-9.6.6/build/Data/Ollama/Generate.dyn_hi
.stack-work/dist/x86_64-linux/ghc-9.6.6/build/Data/Ollama/Generate.dyn_o
.stack-work/dist/x86_64-linux/ghc-9.6.6/build/Data/Ollama/Generate.hi
.stack-work/dist/x86_64-linux/ghc-9.6.6/build/Data/Ollama/Generate.o
.stack-work/dist/x86_64-linux/ghc-9.6.6/stack-build-caches/0ec0a046357e9e377f3cd00613516b70f23f33be535e3b70edb1c700fbdde830/lib
.stack-work/dist/x86_64-linux/ghc-9.6.6/setup-config
.stack-work/dist/x86_64-linux/ghc-9.6.6/build/Lib.dyn_hi
.stack-work/dist/x86_64-linux/ghc-9.6.6/build/Lib.hi
.stack-work/dist/x86_64-linux/ghc-9.6.6/build/libHSollama-haskell-0.1.0.0-JcuztelOYn0HynqJZZx1zH-ghc9.6.6.so
.stack-work/dist/x86_64-linux/ghc-9.6.6/build/libHSollama-haskell-0.1.0.0-JcuztelOYn0HynqJZZx1zH.a
.stack-work/dist/x86_64-linux/ghc-9.6.6/build/Ollama.dyn_hi
.stack-work/dist/x86_64-linux/ghc-9.6.6/build/Ollama.hi
.stack-work/dist/x86_64-linux/ghc-9.6.6/build/Data/Ollama/Chat.dyn_hi
.stack-work/dist/x86_64-linux/ghc-9.6.6/build/Data/Ollama/Chat.dyn_o
.stack-work/dist/x86_64-linux/ghc-9.6.6/build/Data/Ollama/Chat.hi
.stack-work/dist/x86_64-linux/ghc-9.6.6/build/Data/Ollama/Chat.o
.stack-work/dist/x86_64-linux/ghc-9.6.6/build/Data/Ollama/Generate.dyn_hi
.stack-work/dist/x86_64-linux/ghc-9.6.6/build/Data/Ollama/Generate.dyn_o
.stack-work/dist/x86_64-linux/ghc-9.6.6/build/Data/Ollama/Generate.hi
.stack-work/dist/x86_64-linux/ghc-9.6.6/build/Data/Ollama/Generate.o
.stack-work/dist/x86_64-linux/ghc-9.6.6/stack-build-caches/0ec0a046357e9e377f3cd00613516b70f23f33be535e3b70edb1c700fbdde830/lib
