name: Haskell CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

permissions:
  contents: read

jobs:
  generate:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - id: generate
        uses: freckle/stack-action/generate-matrix@v5
    outputs:
      stack-yamls: ${{ steps.generate.outputs.stack-yamls }}

  build:
    needs: generate
    strategy:
      matrix:
        stack-yaml: ${{ fromJSON(needs.generate.outputs.stack-yamls) }}
      fail-fast: false

    runs-on: ubuntu-22.04
    defaults:
      run:
        shell: bash

    steps:
    - name: Copy repo into actions 
      uses: actions/checkout@v4

    - name: install dependancies, build and test stack project.
      uses: freckle/stack-action@v5
      with:
          stack-arguments: --stack-yaml ${{ matrix.stack-yaml }}
          test: false
  
  tests:
    needs: build

    runs-on: ubuntu-22.04
    defaults:
      run:
        shell: bash

    steps:
    - name: Copy repo into actions 
      uses: actions/checkout@v4
 
    - name: Installing ollama
      uses: pydantic/ollama-action@v3
      with:
        model: gemma3:latest

    - name: Installing ollama
      uses: pydantic/ollama-action@v3
      with:
        model: qwen3:0.6b

    - name: Warming up ollama models
      run: |
        ollama run gemma3 "Hey, how are you?"
        ollama run qwen3:0.6b "Hey, how are you?"

    - name: install dependancies, build and test stack project.
      uses: freckle/stack-action@v5

  build-examples:
    needs: tests

    runs-on: ubuntu-22.04
    defaults:
      run:
        shell: bash

    steps:
    - name: Copy repo into actions 
      uses: actions/checkout@v4

    - name: install dependancies, build and test stack project.
      uses: freckle/stack-action@v5
      with:
        working-directory: "./examples/ollama-example"
        test: false
